.main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display:flex;
  justify-content: center;
  align-items: center ;
  font-size: clamp(1.5rem, 1.4vw + 1rem, 5rem);
  color: #C09BD8;
  font-weight: bold;
  text-shadow: 0.05em 0.05em 0.08em black;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center ;
  width: clamp(5rem, 13rem, 16rem);
  height: 9vh;
  background-color: #9F84BD;
  color: #EDE3E9;
  border-radius: 2vh;
  border-color: #C09BD8;
  box-shadow: 0.4vh 0.3vw .8vh hsl(0deg 1% 63%);
  margin-top: 1vh;
}

.btn-image{
  height: 8vh;
  width: 8vh;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-image-div{
  display:flex;
  justify-content: center;
  align-items: center;
  border:none;
  height: clamp(20vh, 30vh, 40vh);
  width: clamp(30vh, 40vh, 50vh);
  aspect-ratio: 16 / 9;
  margin-bottom: 15px;
}

.random-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}





