.App {
  text-align: center;
}

.btn {
  width: 10em;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #9F84BD;
  color: #EDE3E9;
  border-radius: 15px;
  border-color: #C09BD8;
  box-shadow: 5px 5px 5px hsl(0, 1%, 63%);
}

.title {
  font-size: 30px;
  color: #C09BD8;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}


